@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AppSample</h1>
    <p class="lead">IDGW сервис</p>
</div>


<div class="row">

    <div class="col-md-3">
        <h2>Сервис-провайдеры</h2>
        <p>Редактирование списка сервис-провайдеров</p>
        <p><a class="btn btn-primary" asp-action="Index" asp-controller="ServiceProviders">Перейти &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <h2>Аналитика</h2>
        <p>Просмотр статистики</p>
        <p><a class="btn btn-primary" asp-action="Index" asp-controller="Statistics">Перейти &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <h2>Настройки</h2>
        <p>Редактирование настроек</p>
        <p><a class="btn btn-primary" asp-action="Index" asp-controller="Settings">Перейти &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <h2>Пользователи</h2>
        <p>Редактирование списка пользователей</p>
        <p><a class="btn btn-primary" asp-action="Index" asp-controller="Users">Перейти &raquo;</a></p>
    </div>

</div>

