@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>AppSample</h1>
    <p class="lead">IDGW сервис</p>
</div>

<div class="row alert alert-danger">
    У пользователя @User.Identity.Name нет доступа к данной странице.
</div>
