@model bool
<HTML>
<HEAD>
    <TITLE>UMB toplevel</TITLE>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</HEAD>
<BODY>
@if (@Model)
{
    @:Аутентификация успешно пройдена
}
else
{
    @:Не удалось пройти процедуру аутентификации
}
<br>
</BODY>
</HTML>