<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\logs\AppSample.Admin\internal-web-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" />

    <!-- write logs to file -->
    <target xsi:type="File" name="textfile" keepFileOpen="false" 
            layout="${longdate} ${machinename} ${activityid} ${logger} ${level} ${all-event-properties} ${message} ${exception:format=ToString}" 
            fileName="c:\logs\AppSample.Admin\text-${shortdate}.log"
            archiveFileName="c:\logs\AppSample.Admin\text-${shortdate}-{###}.log" archiveNumbering="Sequence" archiveAboveSize="10485760"/>

    <!-- write logs to file -->
    <target xsi:type="File" name="alljson" fileName="c:\logs\AppSample.Admin\all-${shortdate}.jsonl">
	    <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2" suppressSpaces="true">
		    <attribute name="Level" layout="${level:upperCase=true}"/>
		    <attribute name="Tstamp" layout="${longdate}" />
		    <attribute name="Logger" layout="${logger:shortName=true}"/>
		    <attribute name="message" layout="${message}" />
		    <attribute name="Server" layout="${machinename}" />
		    <attribute name="Activityid" layout="${activityid}"/>
		    <attribute name="Exception" layout="${exception:format=tostring"/>
	    </layout>
    </target>

    <!-- write logs to file -->
    <target xsi:type="File" name="ownjson" fileName="c:\logs\AppSample.Admin\own-${shortdate}.jsonl">
	    <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2" suppressSpaces="true">
		    <attribute name="Level" layout="${level:upperCase=true}"/>
		    <attribute name="Tstamp" layout="${longdate}" />
		    <attribute name="Logger" layout="${logger:shortName=true}"/>
		    <attribute name="message" layout="${message}" />
		    <attribute name="Server" layout="${machinename}" />
		    <attribute name="Activityid" layout="${activityid}"/>
		    <attribute name="Exception" layout="${exception:format=tostring"/>
	    </layout>
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Beeline.*" minlevel="Info" writeTo="ownjson" />

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="alljson" />
    <logger name="*" minlevel="Trace" writeTo="textfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>