@model AppSample.Admin.Models.Settings.SettingsEditViewModel

@{
    ViewBag.Title = "Редактирование настроек";
}

@Html.AntiForgeryToken()

<hr />

@if (ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}

@if (ViewBag.IsSuccess == true)
{
    <p class="text-success">Данные сохранены</p>
}

@using (Html.BeginForm())
{
    <div class="form-group col-md-12">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary" value="save" name="CommandTarget">Сохранить</button>
        </div>
    </div>
}