@model AppSample.Admin.Models.Settings.SettingsEditViewModel

@{
    ViewBag.Title = "Настройки";
}

<h2>@ViewBag.Title</h2>


<div class="form-group">
</div>


<p>
    <a href="@Url.Action("Index")" class="btn btn-primary" title="Редактировать">Изменить</a>
</p>

