doctype html
html(lang='ru')
  head
    title IDGW
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel="preconnect", href="https://static.beeline.ru")
    link(rel="preload", href="/static/fonts/Beeline-Sans_Regular.woff2", as="font", crossorigin)
    link(rel="preload", href="/static/fonts/Beeline-Sans_Medium.woff2", as="font", crossorigin)
    link(rel="preload", href="/static/fonts/Beeline-Sans_Bold.woff2", as="font", crossorigin)
    link(rel='icon' type='image/png' href='https://static.beeline.ru/upload/MobileID/images/dev-icons/discovery-dev.png')

  body
    #root
